body{

    background-image: url("/Home/Documents/becode/remediation/imagebackblue.jpeg");

  
    
}

.container {

    background-color: rgb(67, 67, 236);
    margin: auto;
    padding: auto;
    margin-bottom: 50px;
    width: 600px;
    display: flex;
    justify-content: center;  
    flex-direction: row;
    

}
.form-group{

    /* margin-bottom: 30px; */
}
.button{
    
    display: flex;
    justify-content: center;  
    padding: 10px;
    
    
}


.boxmaster{
  
    width: 600px;
    height: 600px;
    margin: auto;
    padding: auto;
   
    
  
    
}
.boxContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    align-items: center;
    font-size: 1.5rem;
    color: white;
    
    
}
.box {
    margin: 10px;
  }
#city {
    background-color: rgba(41, 128, 185, 0.75);

}
#temp{
    background-color: rgba(43, 78, 101, 0.75);
}
#humidity{
    background-color: rgba(195, 198, 231, 0.75);
}
#wind{

    background-color: rgba(118, 129, 185, 0.75);
}
